{
    frankenphp
    auto_https off
    admin off
}

:8000 {
    root * /app/public

    encode zstd br gzip

    php_server

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }

    log {
        output stdout
        format json
    }
}
